#sliderContainer{
    width:500px;
    height:333px;
    overflow:hidden;
    position:relative;
}

#sliderContainer ul{
    position:absolute;
    padding:0;
    margin:0;
}

#sliderContainer li{
    float:left;
    list-style:none;
}

.sliderProduct{
    height:220px !important;
}
.sliderControl{
    margin:0;
    padding:0;
    list-style:none;
    display:block;
    height:20px;
    bottom:10px;
    right:10px;
    position:absolute;
}

.sliderControl li{
    border: 2px solid white;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    -moz-box-shadow: 1px 1px 3px black;
    -webkit-box-shadow: 1px 1px 3px black;
    cursor: pointer;
    background-repeat:no-repeat;
    background-position: -2px -2px;
    display:block;
    height:12px;
    width:12px;
    float:left;
    margin-right:5px;
}

.sliderActive{
    background-color:#000;
}


